<a href="https://colab.research.google.com/github/Shambhavi-Gupta/Tutorial1_Operators/blob/main/Tutorial_1(Operators).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**EXAMPLE OF OPERATORS**

##ARITHMETIC OPERATOR( +, -, *, /, %... etc)

In [ ]:
a=10
b=20
a*b

200

##ASSIGNMENT OPERATOR(+= , -= , *= ...etc.)

In [ ]:
a=11
a+= 1    #a = a+1

In [ ]:
print(a)

12

##COMPARISON OPERATOR (== , > , < .... etc.)

In [ ]:
p = 70
q= 70
if (p==q) :
    print("these are equal")
else :
    print("they are not equal")

these are equal

##LOGICAL OPERATOR (& , | ....etc.)

In [ ]:
a=10
b=20
print("a | b is", a|b)

a | b is 30

##IDENTITY OPERATOR (is , is not )

In [ ]:
x=10
z=x
print(x is not z)

False

##MEMBERSHIP OPERATOR (in , in not)

In [ ]:
x = "apple"
print("apple" in x)

True